@use '../util' as *;


.app_address {
    display: inline-flex;
    margin-bottom: rem(18);
    width: 100%;

    @include breakpoint(medium) {
        margin-bottom: rem(36);
        width: 70%;
    }

    input {
        width: 100%;
        color: var(--black);
        font-size: rem(14);
        border: none;
        border-bottom-left-radius: var(--border-radius-size);
        border-top-left-radius: var(--border-radius-size);
        height: rem(58);
        padding-left: rem(23);
        padding-right: rem(23);
        background-color: var(--white);
        transition: all 150ms ease-in-out;
        font-family: inherit;
    }

    button {
        height: rem(58);
        width: rem(58);
        border-bottom-right-radius: var(--border-radius-size);
        border-top-right-radius: var(--border-radius-size);
        background-color: var(--black);
        border: none;
        cursor: pointer;
        transition: all 150ms ease-in-out;

        &:hover {
            background-color: var(--very-dark-gray);
        }
    }
}